<nav>
	<ul>
		<li><%= link_to 'Home', root_path %> </li>
		<li><%= link_to 'About us', about_path %> </li>
		<li><%= link_to 'Join us', sign_up_path %> </li>
		<li><%= link_to 'Home', root_path %> </li>
		<li><%= link_to 'Home', root_path %> </li>
	</ul>
</nav>